* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
}

body {
  width: 100%;
}

header {
  gap: 1em;
  background: #F55A5A;
  color: #FFFF;
  padding: 1em 0;
  justify-content: center;
  align-items: center;
}

article {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
  padding: 1em .5em;
  margin: 1em auto;
}

.location-image {
  border-radius: 7px;
  height: 25vh;
}

a:hover {
  opacity: .5;
}

.image-section {
  display: flex;
  width: 60vw;
  justify-content: left;
  margin-right: -3.1em;
}

.information-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.note-location {
  display: flex;
  align-items: center; 
  gap: 1.2em;
}

.marker-section {
  display: flex;
  gap: .2em;
  align-items: center;
}

.location-title {
  margin: .7em 0;
}

.location-text {
  line-height: 1.5;
  width: 100%;
}

.dates {
  margin-bottom: .5em;
}

.country-name {
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*MEDIA QUERY -> MOBILE VERSION*/


@media (max-width:550px){
  header {
    padding: .7em 0;
    font-size: .7rem;
  }
  .logo {
    width: 11vw;
  }
  article {
    align-items: center;
    width: 99%;
    padding: .5em ;
  }
  .location-image {
    width: 70%;
    border-radius: 7px;
  }
  .information-section {
    width: 90%;
  }
}




